In [1]:
people = {
    "first" : ['Shreya', 'Jane', 'John'],
    "last" : ['Walia', 'Doe', 'Doe'],
    "email" : ['sw@email.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first   last              email
0  Shreya  Walia       sw@email.com
1    Jane    Doe  janedoe@email.com
2    John    Doe  johndoe@email.com

In [5]:
#main thing to do is to find basis of our filter by comparing
#setting a filter
df['last'] == 'Doe'
#gives series object having boolean values #acts as a filter

0    False
1     True
2     True
Name: last, dtype: bool

In [8]:
filt = (df['last'] == 'Doe') 
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
df[filt]

  first last              email
1  Jane  Doe  janedoe@email.com
2  John  Doe  johndoe@email.com

In [10]:
df[(df['last'] == 'Doe')]

  first last              email
1  Jane  Doe  janedoe@email.com
2  John  Doe  johndoe@email.com

In [15]:
#iloc can also be used
#advantage of using iloc is that we can specify another specific col value too
df.loc[filt]

  first last              email
1  Jane  Doe  janedoe@email.com
2  John  Doe  johndoe@email.com

In [14]:
df.loc[filt, 'email']

1    janedoe@email.com
2    johndoe@email.com
Name: email, dtype: object

In [21]:
filt = (df['first'] == 'John') & (df['last'] == 'Doe')

In [22]:
df.loc[filt]

  first last              email
2  John  Doe  johndoe@email.com

In [23]:
#getting opposite of filter
df.loc[~filt]

    first   last              email
0  Shreya  Walia       sw@email.com
1    Jane    Doe  janedoe@email.com

KeyError: 'Salary'